/.env
**/vendor
**/node_modules
coverage/
dbdata/*
!dbdata/.gitkeep
nginx/

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
=======
.vscode/

