<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Productivity/Todo/Application/Query</directory>
      <directory suffix=".php">src/Productivity/Todo/Habit/Query</directory>
      <directory suffix=".php">src/App/DataFixtures</directory>

      <file>src/App/Kernel.php</file>
      <file>src/Productivity/Habit/Domain/HabitId.php</file>
      <file>src/Productivity/Todo/Domain/TodoId.php</file>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1" />
    <server name="APP_ENV" value="test" force="true" />
    <server name="SHELL_VERBOSITY" value="-1" />
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!-- Run `composer require symfony/phpunit-bridge` before enabling this extension -->
  <!--
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
    -->
  <!-- Run `composer require symfony/panther` before enabling this extension -->
  <extensions>
    <extension class="Tests\BypassFinalHook" />
  </extensions>
</phpunit>
